@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate(60px, 0);
		transform: translate(60px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate(60px, 0);
		transform: translate(60px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}


.fadeInRightA {
	-webkit-animation-name: fadeInRightA;
	animation-name: fadeInRightA;
}
@-webkit-keyframes fadeInRightA {
	from {
		-webkit-transform: translate(90px, 0);
		transform: translate(90px, 0);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInRightA {
	from {
		-webkit-transform: translate(90px, 0);
		transform: translate(90px, 0);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}