@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}


.fadeInRightA {
	-webkit-animation-name: fadeInRightA;
	animation-name: fadeInRightA;
}
@-webkit-keyframes fadeInRightA {
	from {
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInRightA {
	from {
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.fadeInUpA {
	-webkit-animation-name: fadeInUpA;
	animation-name: fadeInUpA;
}
@-webkit-keyframes fadeInUpA {
	from {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes fadeInUpA {
	from {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.scaleInA {
	-webkit-animation-name: scaleInA;
	animation-name: scaleInA;
}
@-webkit-keyframes scaleInA {
	from {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scaleInA {
	from {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.scaleOutA {
	-webkit-animation-name: scaleOutA;
	animation-name: scaleOutA;
}
.scaleOutAi {
	-webkit-animation-name: scaleOutA !important;
	animation-name: scaleOutA !important;
}
@-webkit-keyframes scaleOutA {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}
@keyframes scaleOutA {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}

@-webkit-keyframes scaleOutAi {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}
@keyframes scaleOutAi {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
	}
}