.bg-1 {
	background-image: url('../img/bg/bg-letters-pattern-2.svg'), linear-gradient(180deg, #4e00e0 0%, #1b6ef8 100%);
	background-repeat: repeat;
}
.background-pattern {
	background-image: url('../img/bg/bg-letters-pattern-1.svg');
	opacity: .1;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}