.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
}

.col-md-1 {
	width: 8.333%;
}
.col-md-2 {
	width: 16.666%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33.333%;
}
.col-md-5 {
	width: 41.666%;
}
.col-md-6 {
	width: 50%;
}
.col-md-7 {
	width: 58.333%;
}
.col-md-8 {
	width: 66.666%;
}
.col-md-9 {
	width: 75%;
}
.col-md-10 {
	width: 83.333%;
}
.col-md-11 {
	width: 91.666%;
}
.col-md-12 {
	width: 100%;
}
/*
	LARGE
*/
@media screen and (min-width: 1280px) {
	.col-lg-1 {
		width: 8.333%;
	}
	.col-lg-2 {
		width: 16.666%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.333%;
	}
	.col-lg-5 {
		width: 41.666%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.333%;
	}
	.col-lg-8 {
		width: 66.666%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.333%;
	}
	.col-lg-11 {
		width: 91.666%;
	}
	.col-lg-12 {
		width: 100%;
	}
	.lg-hidden {
		display: none !important;
	}
}
/*
	EXTRA LARGE
*/
@media screen and (min-width: 1440px) {
	.col-xlg-1 {
		width: 8.333%;
	}
	.col-xlg-2 {
		width: 16.666%;
	}
	.col-xlg-3 {
		width: 25%;
	}
	.col-xlg-4 {
		width: 33.333%;
	}
	.col-xlg-5 {
		width: 41.666%;
	}
	.col-xlg-6 {
		width: 50%;
	}
	.col-xlg-7 {
		width: 58.333%;
	}
	.col-xlg-8 {
		width: 66.666%;
	}
	.col-xlg-9 {
		width: 75%;
	}
	.col-xlg-10 {
		width: 83.333%;
	}
	.col-xlg-11 {
		width: 91.666%;
	}
	.col-xlg-12 {
		width: 100%;
	}
	.xlg-hidden {
		display: none !important;
	}
}
/*
	MEDIUM
*/
@media screen and (max-width: 1279px) {
	.lg-visible {
		display: none !important;
	}
}
/*
	TABLET
*/
@media screen and (max-width: 1000px) {
	.col-tb-1 {
		width: 8.333%;
	}
	.col-tb-2 {
		width: 16.666%;
	}
	.col-tb-3 {
		width: 25%;
	}
	.col-tb-4 {
		width: 33.333%;
	}
	.col-tb-5 {
		width: 41.666%;
	}
	.col-tb-6 {
		width: 50%;
	}
	.col-tb-7 {
		width: 58.333%;
	}
	.col-tb-8 {
		width: 66.666%;
	}
	.col-tb-9 {
		width: 75%;
	}
	.col-tb-10 {
		width: 83.333%;
	}
	.col-tb-11 {
		width: 91.666%;
	}
	.col-tb-12 {
		width: 100%;
	}
}
/*
	MOBILE
*/
@media screen and (max-width: 780px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: none;
        width: 100%;
    }
	.col-sm-1 {
		width: 8.333%;
	}
	.col-sm-2 {
		width: 16.666%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.333%;
	}
	.col-sm-5 {
		width: 41.666%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.333%;
	}
	.col-sm-8 {
		width: 66.666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.333%;
	}
	.col-sm-11 {
		width: 91.666%;
	}
	.col-sm-12 {
		width: 100%;
	}
}
/*
	SMALL
*/
@media screen and (max-width: 480px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		display: block;
		float: none;
		width: 100%;
	}
}