/* TEMP */
.grid-overlay {
	background: url('../img/bg/grid.png') 50% 0 repeat-y;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: .5;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}
/* END TEMP */

/* NAV */
.main-navigation:before,
.footer-navigation:before,
.main-navigation:after,
.footer-navigation:after {
	content: "";
	clear: both;
	display: table;
}
nav a {
	color: #fff;
}
nav .navbar-left {
	float: left;
}
nav .navbar-right {
	float: right;
}
nav .navigation-links a {
	color: white;
	font-size: 22px;
	font-weight: 600;
	line-height: 40px;
}
nav .navigation-links li:last-child {
	margin-right: 0;
}
nav .navigation-links li.active a {
	color: #4d2ce0;
	font-weight: bold;
}
nav .socials {
	margin-top: 6px;
}
nav .socials li {
	margin-left: 46px;
}
nav .socials li a {
	font-size: 21px;
}
nav.main-navigation .container {
	max-width: 1364px;
	width: auto;
}
nav.main-navigation {
	padding: 20px 20px 0;
}
nav.main-navigation li {
	display: inline-block;
}
nav.main-navigation .navigation-links li {
	margin-right: 236px;
}
nav.main-navigation .navigation-links li:last-child {
	margin-right: 0;
}
nav.footer-navigation {
	padding-top: 60px;
	padding-bottom: 60px;
}
nav.footer-navigation li {
	display: inline-block;
	margin-left: 48px;
}
nav.footer-navigation .socials {
	margin-left: 68px;
}
nav.footer-navigation .socials li {
	margin-left: 0;
	margin-right: 29px;
}
nav.fixed {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
/* END NAV */
.top-line {
	padding: 26px 0;
}
.top-line .left-bar,
.top-line .right-bar {
	float: left;
	width: 50%;
}

.top-line .left-bar {
}
.top-line .right-bar {
	text-align: right;
}
.top-line .socials {}
.top-line .socials li {
	display: inline-block;
	margin-right: 33px;
	margin-top: 4px;
}
.top-line .socials li a {
	color: #fff;
	font-size: 21px;
}
.top-line .email-me {
	color: white;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
}
.bottom-line {
	bottom: 33px;
	position: absolute;
	width: 100%;
}
.bottom-line .copyright-holder {
	text-align: center;
}
.bottom-line .copyright-holder span {
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 19px;
	opacity: 0.4;
}
#underconstruction {
	/*height: 700px;*/
	overflow: hidden;
}
#underconstruction .content-holder {
	display: table;
	height: 100%;
	height: calc(100% - 211px);
}
#underconstruction .presentation {
	/*display: table-cell;*/
	height: 100%;
	vertical-align: middle;
}
#underconstruction .presentation .main-logo-holder,
#underconstruction .presentation .main-description-holder {
	display: table-cell;
	padding: 0 26px;
	vertical-align: middle;
}
#underconstruction .presentation .main-logo-holder {
	text-align: right;
	width: 324px;
}
#underconstruction .presentation .main-description-holder {
	padding-top: 35px;
}
#underconstruction .presentation .grand {
	color: white;
	font-size: 58px;
	font-weight: 700;
	line-height: 71px;
}
#underconstruction .presentation .small {
	color: white;
	font-size: 28px;
	font-weight: 300;
	line-height: 28px;
	margin-top: 31px;
}
/* MAIN-PRESENTATION */
section#main-presentation {}
section#main-presentation .content {
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
section#main-presentation .content-holder {
	/*bottom: 0;
	display: table;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;*/
	bottom: 120px;
}
section#main-presentation .left-side,
section#main-presentation .right-side {
	text-align: left;
}
section#main-presentation .left-side {
	display: inline-block;
	position: relative;
	/*text-align: right;*/
	vertical-align: middle;
}
section#main-presentation .left-side img {
	-webkit-box-shadow: 0 24px 65px -10px rgba(0,0,0,.45);
	box-shadow: 0 24px 65px -10px rgba(0,0,0,.45);
	position: relative;
	top: 15px;
}
section#main-presentation .right-side {
	display: inline-block;
	margin-left: -16px;
	max-width: 814px;
	vertical-align: bottom;
}
section#main-presentation h1 {
	color: white;
	font-size: 88px;
	font-weight: 700;
	line-height: 96px;
}
section#main-presentation h3 {
	color: white;
	font-size: 42px;
	font-weight: 300;
	line-height: 86px;
	margin-left: 173px;
}
/* END MAIN-PRESENTATION */

/* CAPABILITIES */
section#capabilities {
	padding-top: 100px;
	/*padding-top: 212px;*/
	padding-bottom: 140px;
	text-align: center;
	width: 100%;
}
section#capabilities .left-element,
section#capabilities .right-element {
	-webkit-box-shadow: 0 24px 65px -20px rgba(0,0,0,.45);
	box-shadow: 0 24px 65px -20px rgba(0,0,0,.45);
	background-color: white;
	display: inline-block;
	padding: 73px 20px 90px 90px;
	text-align: left;
	width: 530px;
}
section#capabilities h4 {
	color: black;
	font-size: 32px;
	font-weight: 700;
	line-height: 57px;
}
section#capabilities ul {
	margin-top: 26px;
	padding-left: 3px;
}
section#capabilities li {
	color: black;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
}
section#capabilities li:before {
	background-color: #f41f52;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 7px;
	margin-right: 16px;
	vertical-align: middle;
	width: 7px;
}

/*section#capabilities .left-element {}
section#capabilities .right-element {}*/

/* END CAPABILITIES */

/* PORTFOLIO */
section#portfolio-presentation {
	padding-top: 197px;
	padding-bottom: 354px;
}
section#portfolio-presentation .portfolio-label {
	color: white;
	display: inline-block;
	font-size: 76px;
	font-weight: 700;
	line-height: 64px;
	margin-left: 35px;
	position: relative;
	top: -55px;
}
section#portfolio-presentation .portfolio-item {
	-webkit-box-shadow: 0 24px 65px -20px rgba(0,0,0,.55);
	box-shadow: 0 24px 65px -20px rgba(0,0,0,.55);
	display: inline-block;
	vertical-align: top;
}
section#portfolio-presentation .portfolio-item.type-1 {
	margin-left: 39px;
}
section#portfolio-presentation .portfolio-item.type-2 {
	margin-left: 95px;
}
section#portfolio-presentation .portfolio-item.type-3 {
	margin-left: 69px;
	margin-top: 83px;
}
section#portfolio-presentation .portfolio-item.type-4 {
	margin-left: 105px;
	margin-top: 83px;
}
/* END PORTFOLIO */

/* DEVICES */
section#devices {
	background-color: #4d2ce0;
	color: #fff;
}
section#devices .devices-illustration {}
section#devices h2 {
	color: white;
	font-size: 50px;
	font-weight: 700;
	line-height: 57px;
	margin-top: 60px;
}
section#devices p {
	color: white;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 40px;
}
/* END DEVICES */

/* EXPERIENCE */
section#experience {
	background-color: white;
	padding-top: 174px;
}
section#experience h2 {
	color: black;
	font-size: 50px;
	font-weight: 700;
	line-height: 57px;
	margin-bottom: 166px;
}
section#experience .main-image-holder {
	margin-bottom: -122px;
	text-align: center;
}
section#experience .main-image-holder img {
	-webkit-box-shadow: 0 44px 65px -35px rgba(0,0,0,.35);
	box-shadow: 0 44px 65px -35px rgba(0,0,0,.35);
	width: 100%;
}
/* END EXPERIENCE */

/* ABOUT-TEXT */
section#about-text {
	padding-top: 239px;
	padding-bottom: 128px;
}
section#about-text p {
	color: white;
	font-size: 20px;
	font-weight: 300;
	line-height: 40px;
}
/* END ABOUT-TEXT */

/* SUBSCRIBER */
section#subscriber {
	background: transparent url('../img/bg/subscriber-bg-1.png') no-repeat 100% 0;
}
section#subscriber .subscriber-holder {
	border-top: 6px solid #4d2ce0;
	border-left: 6px solid #4d2ce0;
	display: block;
}
section#subscriber .input-area {
	padding: 0 70px;
}
section#subscriber .input-area img {
	position: relative;
	top: 4px;
	vertical-align: baseline;
}
section#subscriber .input-area form {
	display: inline-block;
	width: 960px;
}
section#subscriber .input-area input {
	background-color: transparent;
	border: none;
	color: snow;
	font-family: "Gotham Pro", sans-serif;
	font-size: 39px;
	font-weight: 300;
	height: 92px;
	line-height: 30px;
	outline: none;
	width: 100%;
}
section#subscriber .input-area input:focus {
	/*border: 1px solid #000;*/
	/*transition: border .4s;*/
}
section#subscriber .input-area input::-webkit-input-placeholder {
	color: snow;
	font-family: "Gotham Pro", sans-serif;
	font-size: 39px;
	font-weight: 300;
	line-height: 44px;
	opacity: 0.8;
	vertical-align: middle;
}

section#subscriber .input-area input:-moz-placeholder {
	color: snow;
	font-family: "Gotham Pro", sans-serif;
	font-size: 39px;
	font-weight: 300;
	line-height: 44px;
	opacity: 0.8;
	vertical-align: middle;
}

section#subscriber .input-area input::-moz-placeholder {
	color: snow;
	font-family: "Gotham Pro", sans-serif;
	font-size: 39px;
	font-weight: 300;
	line-height: 44px;
	opacity: 0.8;
	vertical-align: middle;
}

section#subscriber .input-area input:-ms-input-placeholder {
	color: snow;
	font-family: "Gotham Pro", sans-serif;
	font-size: 39px;
	font-weight: 300;
	line-height: 44px;
	opacity: 0.8;
	vertical-align: middle;
}
section#subscriber .description-holder {
	background-color: #4d2ce0;
	color: white;
	font-size: 50px;
	font-weight: 700;
	height: 224px;
	line-height: 57px;
	padding: 54px 63px 0;
}
section#subscriber .description-holder a {
	color: white;
	font-size: 34px;
	font-weight: 300;
	line-height: 57px;
}
/* END SUBSCRIBER */

/* 404 */
section#page-404 {
	color: #000;
	text-align: center;
}
section#page-404 .logo {
	display: inline-block;
	margin-top: 79px;
}
section#page-404 h1 {
	margin-top: 59px;
	color: black;
	font-size: 164px;
	font-weight: 700;
	line-height: 160px;;
}
section#page-404 h4 {
	color: black;
	font-size: 38px;
	font-weight: 700;
	line-height: 60px;
}
section#page-404 .to-main-page {
	border: 3px dashed #f41f52;
	border-radius: 4px;
	color: #f42752;
	display: inline-block;
	font-size: 26px;
	font-weight: 400;
	line-height: 60px;
	margin-top: 53px;
	margin-bottom: 80px;
	padding: 0 32px;
	text-transform: uppercase;
}
section#page-404 .illustration {
	bottom: 0;
	display: block;
	position: absolute;
}
/* END 404 */