
/*
	LARGE
*/
@media screen and (min-width: 1440px) {
	.container {
		width: 1400px;
	}
	#underconstruction .presentation .main-logo-holder {
		text-align: right;
		width: 521px;
	}
}
/*------------------------------------------------------------------------------
	MEDIUM
------------------------------------------------------------------------------*/
@media screen and (max-width: 1439px) {
	.container {
		width: 960px;
	}
}
/*--------------------------------------------------------------------------
	TABLET
--------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
	.container {
		width: 100%;
	}
	.top-line .left-bar,
	.top-line .right-bar {
		float: none;
		text-align: center;
		width: 100%;
	}
	.top-line .socials li {
		display: inline-block;
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 24px;
	}
	#underconstruction {
		height: auto !important;
	}
	#underconstruction .presentation .main-description-holder {
		margin-top: 40px;
	}
	#underconstruction .presentation .main-logo-holder,
	#underconstruction .presentation .main-description-holder {
		display: block;
		padding: 0;
		text-align: center;
		width: auto;
	}
	.bottom-line {
		position: static;
		margin-top: 60px;
		margin-bottom: 20px;
	}
}
/*
	MOBILE
*/
@media screen and (max-width: 780px) {
/*	.container {
		width: 100%;
	}*/
}
/*
	SMALL
*/
@media screen and (max-width: 564px) {
	#underconstruction .content-holder {
		height: auto;
	}
	#underconstruction .presentation .small {
		font-size: 20px;
	}
	#underconstruction .presentation .grand {
		font-size: 30px;
		line-height: 40px;
	}
}
/*
	xSMALL
*/
@media screen and (max-width: 400px) {
}
