
/*
	LARGE
*/
@media screen and (min-width: 1440px) {
}
/*------------------------------------------------------------------------------
	MEDIUM
------------------------------------------------------------------------------*/
@media screen and (max-width: 1439px) {
}
/*--------------------------------------------------------------------------
	TABLET
--------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
}
/*
	MOBILE
*/
@media screen and (max-width: 780px) {
}
/*
	SMALL
*/
@media screen and (max-width: 564px) {
	.foreground-holder {
		-webkit-mask-image: radial-gradient(black 0, black 2px, transparent 80px, transparent 140px);
		mask-image: radial-gradient(black 0, black 2px, transparent 80px, transparent 140px);
	}
}
/*
	xSMALL
*/
@media screen and (max-width: 400px) {
	.background-holder img,
	.foreground-holder img {
		max-width: 136%;
	}
	a.main-mailto {
		font-size: 18px;
	}
}
